version: 2
jobs:
  build:
    machine: true
    working_directory: ~/devops-machine

    steps:
      - checkout
      - run:
          name: build the application image
          command: docker build -t anmolnagpal/devops:1.9.$CIRCLE_BUILD_NUM ./docker-image/.
      - run:
          name: bring container up and running
          command: docker run --name devops -d anmolnagpal/devops:1.9.$CIRCLE_BUILD_NUM
      - run:
          name: wait for container to boot up
          command: sleep 10
      - run:
          name: sanity check
          command: |
            docker exec devops /bin/bash -c 'php -v'
            docker exec devops /bin/bash -c 'terraform version'
            docker exec devops /bin/bash -c 'ansible --version'
            docker exec devops /bin/bash -c 'packer version'
      - run:
          hub:
          branch: master
          commands:
          - docker login -u $u -p $p
          - docker push anmolnagpal/devops:1.9.$CIRCLE_BUILD_NUM
